.wrapper {
  .container {
    .card {
      margin: 0 2rem 2rem;
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 1rem 1rem 0 0;
        aspect-ratio: 16 / 9;
        object-fit: cover;
      }
      &__title {
        margin: 0;
        padding: 2rem 4rem;
        border-radius: 0 0 1rem 1rem;
        background-color: #ffffff;
        color: #000;
        font-size: 1.6rem;
        position: relative;

        &::before,
        &::after {
          position: absolute;
          top: 1rem;
          bottom: 0;
          right: 2rem;
          margin: auto;
          content: "";
          vertical-align: middle;
        }

        &::before {
          width: 8rem;
          height: 0.2rem;
          background: #939393;
        }
        &::after {
          right: 2.2rem;
          width: 2rem;
          height: 2rem;
          border-top: 0.2rem solid #939393;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }
    .news {
      .post {
        border-bottom: 0.1rem solid #707070;
        font-weight: bold;
        letter-spacing: 0.1em;
        text-decoration: none;
        text-transform: uppercase;
        &:first-child {
          border-top: 0.1rem solid #707070;
        }
        .box {
          padding: 1.5rem 1.5rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .text {
            margin: 0 0 0 5rem;
            color: #303030;
            font-size: 1.4rem;
            width: 80%;
            display: inline-block;
            &__title {
              display: block;
              margin: 1.5rem 0 0 1rem;
            }
          }
          &__open {
            position: relative;
            width: 2rem;
            height: 2rem;
            img {
              display: block;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  /* for PC */
  .wrapper {
    .container {
      .grid {
        margin: 3rem 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        .card {
          margin: 0;
        }
      }

      .news {
        margin: 5rem 0;
        .post {
          .box {
            padding: 2rem 10rem;
            .text {
              width: 100%;
              display: grid;
              grid-template-columns: 12rem 7rem 1fr;
              gap: 5rem;
              &__title {
                display: inline-block;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
