// パンくずリスト
.nav {
  background-color: rgba(125, 125, 125, 0.9);
  font-size: 1.5rem;
  &__wrap {
    padding: 1rem 0 1rem 4rem;
    span {
      margin: 0 1rem;
    }
  }
}

@media screen and (min-width: 768px) {
  /* for PC */
.nav {
  &__wrap {
    max-width: 120rem;
    margin: 0 auto;
    padding-left: 10rem;
  }
}
}
