@font-face {
  font-family: "Mona Sans";
  src: url("../font/Mona-Sans.woff2") format("woff2 supports variations"),
    url("../font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

html {
  font-family: "Mona Sans", "Butler", sans-serif, "Noto Serif JP", serif;
  font-size: 62.5%;
  font-weight: 900;
  font-stretch: 90%;
  .en {
    font-family: "Cormorant Infant", "Noto Serif JP", serif;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  padding-top: 8rem;
  background-repeat: repeat;
  background-size: 100% auto;
  background-color: #000000;
  background-image: url(../img/madein-bg.jpg);
  color: #ffffff;
  font-size: 1.4rem;
}

.main {
  margin: 3rem 2rem 2rem;
  .article {
    text-align: center;
    margin: 10rem 0;
    &__title {
      line-height: 2.5rem;
      font-size: 3.5rem;
      &::after {
        content: "";
        display: block;
        width: 0.1rem;
        height: 3rem;
        margin: 1rem auto;
        border-left: #ffffff 0.1rem solid;
      }
      span {
        position: relative;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        // &::before {
        //     content: "";
        //     display: block;
        //     position: absolute;
        //     top: 50%;
        //     width: 5rem;
        //     height: .1rem;
        //     border: .1rem #ffffff solid;
        // }
      }
    }
    &__subtitle {
      margin-bottom: 3rem;
      font-size: 1.5rem;
      letter-spacing: 0.3rem;
      span {
        margin: 0 2rem;
      }
    }
    &__message {
      margin-top: 3rem;
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
      .img {
        width: 10rem;
        height: 2rem;
      }
      h4 {
        display: inline;
        vertical-align: bottom;
        line-height: 2rem;
      }
    }
    &__text {
      line-height: 2rem;
      margin-top: 3rem;
      letter-spacing: 0.5rem;
    }
    img {
      width: 80%;
    }
  }
}

.welcome {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  background-color: #000;
  background-image: url(../img/welcome.jpg);
  object-fit: cover;
  background-position: center;
  a {
    padding: 2rem;
    width: 70%;
    backdrop-filter: blur(12px);
    display: block;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.container {
  position: relative;
  margin: 6rem 1rem 4rem;
  padding: 2rem 0;
  border-radius: 1rem;
  background-color: #e2e2e2;
  &__title {
    margin: 2rem 4.5rem 1.5rem;
    overflow: hidden;
    color: #000000;
    font-size: 1.5rem;
    white-space: nowrap;
    span {
      margin-right: 1rem;
    }
    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      border: 0.1rem solid #949494;
    }
  }
  &__subtitle {
    position: absolute;
    top: -4rem;
    left: 2rem;
    margin: 0;
    color: #949494;
    font-size: 6rem;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding-top: 10rem;
  }

  .welcome {
    a {
      padding: 3rem;
      width: auto;
    }
  }

  .main {
    .article {
      &__title {
        line-height: 4.5rem;
        font-size: 7.5rem;
        span {
          font-size: 2rem;
        }
      }
      &__subtitle {
        margin-bottom: 5rem;
        font-size: 2.5rem;
      }
      &__message {
        margin-top: 6rem;
        font-size: 2.5rem;
        .img {
          width: 20rem;
          height: 3rem;
          margin: 0 2rem 0 0;
        }
        h4 {
          line-height: 3rem;
        }
      }
      &__text {
        line-height: 3rem;
        margin-top: 6rem;
      }
      img {
        height: 40rem;
        width: auto;
      }
    }
  }
  /* for PC */
  .wrapper {
    margin: 0 auto;
    max-width: 120rem;
    padding: 3rem 2rem 0 2rem;
    display: grid;
    grid-template-columns: 1fr 30rem;
    gap: 2rem;
  }
  .single-wrapper {
    margin: 0 auto;
    max-width: 90rem;
  }
  .container {
    margin: 8rem auto;
    width: 100%;
    &__title {
      margin: 6rem 6.5rem 1.5rem;
      font-size: 2rem;
      span {
        margin-right: 4rem;
      }
      &::after {
        border: 0.3rem solid #94949471;
      }
    }
    &__subtitle {
      top: -8rem;
      font-size: 13rem;
    }
  }
}
