// header

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100dvw;
  width: 100%;
  height: 8rem;
  .title {
    display: none;
  }
  a {
    margin-left: 10%;
    position: relative;
    z-index: 888;
    img {
      width: 15rem;
      height: 4rem;
      padding: 1rem 0 1rem 0;
    }
  }
  .mainMenu {
    position: relative;
    z-index: 777;
    margin-right: 5%;
    button {
      border: 0;
      border-radius: 0;
      background: transparent;
      text-align: inherit;
      vertical-align: middle;
      outline: 0;

      -webkit-appearance: none;
      appearance: none;
      &:focus {
        box-shadow: none;
        outline: none;
      }
      &:hover {
        cursor: pointer;
      }
    }

    /**************** 以下、ハンバーガーボタンのスタイリング ****************/
    .btn {
      /* バーガーの線をボタン範囲の中心に配置 */
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      /* ボタンの大きさ  */
      width: 3rem;
      height: 4rem;

      /***** 真ん中のバーガー線 *****/
      .btn-line {
        /* バーガー線の位置基準として設定 */
        position: relative;

        /* 線の長さと高さ */
        width: 100%;
        height: 0.4rem;

        /* バーガー線の色 */
        background-color: #ffffff;
        transition: 0.2s;

        /***** 上下のバーガー線 *****/
        &::before,
        &::after {
          content: "";

          /* 基準線と同じ大きさと色 */
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #ffffff;
          transition: 0.2s;
        }

        &::before {
          /* 上の線の位置 */
          transform: translateY(-10px);
        }

        &::after {
          /* 下の線の位置 */
          transform: translateY(10px);
        }
        &.open {
          /***** メニューオープン時 *****/
          /* 真ん中の線を透明に */
          background-color: transparent;

          &::before,
          &::after {
            content: "";
            transition: 0.2s;
          }

          &::before {
            /* 上の線を傾ける */
            transform: rotate(45deg);
          }

          &::after {
            /* 上の線を傾ける */
            transform: rotate(-45deg);
          }
        }
      }
    }
    /**************** ここまで、ハンバーガーボタンのスタイリング ****************/
    &__block {
      position: fixed;
      top: 7.9rem;
      left: 0;
      width: 100%;
      height: 100vh;
      height: 100dvh;
      background-color: rgba(30, 30, 30, 0.5);
      backdrop-filter: blur(12px);
      visibility: hidden;

      li {
        width: 70%;
        margin-bottom: 1.5rem;
        overflow: hidden;
        white-space: nowrap;
        visibility: hidden;

        a {
          margin-right: 1rem;
          color: #ffffff;
          font-size: 2.5rem;
        }
        &::after {
          content: "";
          display: inline-block;
          width: 100%;
          border: 0.1rem solid #ffffff;
        }
      }
    }
  }
  .bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100dvw;
    width: 100%;
    height: 8rem;
    background-color: rgba(30, 30, 30, 0.5);
    backdrop-filter: blur(12px);
  }
}
