.nav-links {
  text-align: center;
  padding: 2rem;
  a,
  span {
    padding: 1rem;
    border-radius: 10%;
    color: #000;
  }
  a {
    background-color: #fff;
  }
  span{
    background-color: #939393;
    color: #fff;
  }
}
