.sidebar {
  margin: 4rem 2rem 4rem;
  padding: 2rem;
  border-radius: 1rem;
  background-color: #e2e2e2;
  .box {
    margin: 0 0 0 2rem;
    &__title {
      margin: 2rem 0 2rem 0;
    }
    &__list {
      margin: 0;
    }
  }
}
@media screen and (min-width: 768px) {
  /* for PC */
  .wrapper {
    .container {
    }
  }
}
@media screen and (min-width: 768px) {
  .sidebar {
    margin: 8rem 0 0 0;
  }
}
